#container #menu .menuUl li{
    margin-left: 400px;
}

#content #register-form{
    border: 1px solid rgb(197, 197, 197);
    width: 1000px;
    margin: auto;
    border-image: none;
    padding: 30px;
    padding-left:200px;
    border-radius: 3px;
}